.promo {
	padding: 199px 0;
	height: 720px;
	background: url("../img/main.jpg") center (center / cover) no-repeat;
	&__title {
		width: 512px;
		color: #fff;
		font-size: 60px;
		font-weight: 900;
		line-height: 144%;
		text-transform: uppercase;
	}
	&__descr {
		width: 535px;
		color: #fff;
		font-size: 18px;
		font-weight: 400;
		margin-top: 35px;
	}
	&__btn {
		width: 200px;
		height: 50px;
		color: #fff;
		font-size: 15px;
		font-weight: 500;
		border-radius: 10px;
		border: 1px solid #666681;
		background: transparent;
		margin-top: 35px;
	}
	&__btn:hover {
		background: $main-color;
	}
}
